:root, [data-bs-theme=light] {
    --bb-black:#000;
    --bb-white:#fff;
    --bb-gray:#49566c;
    --bb-gray-dark:#182433;
    --bb-gray-100:#eef3f6;
    --bb-gray-200:#dce1e7;
    --bb-gray-300:#b8c4d4;
    --bb-gray-400:#8a97ab;
    --bb-gray-500:#6c7a91;
    --bb-gray-600:#49566c;
    --bb-gray-700:#3a4859;
    --bb-gray-800:#182433;
    --bb-gray-900:#040a11;
    --bb-primary:#206bc4;
    --bb-secondary:#6c7a91;
    --bb-success:#2fb344;
    --bb-info:#4299e1;
    --bb-warning:#f76707;
    --bb-danger:#d63939;
    --bb-light:#f6f8fb;
    --bb-dark:#182433;
    --bb-muted:#6c7a91;
    --bb-blue:#206bc4;
    --bb-azure:#4299e1;
    --bb-indigo:#4263eb;
    --bb-purple:#ae3ec9;
    --bb-pink:#d6336c;
    --bb-red:#d63939;
    --bb-orange:#f76707;
    --bb-yellow:#f59f00;
    --bb-lime:#74b816;
    --bb-green:#2fb344;
    --bb-teal:#0ca678;
    --bb-cyan:#17a2b8;
    --bb-x:#000;
    --bb-facebook:#1877f2;
    --bb-twitter:#1da1f2;
    --bb-linkedin:#0a66c2;
    --bb-google:#dc4e41;
    --bb-youtube:red;
    --bb-vimeo:#1ab7ea;
    --bb-dribbble:#ea4c89;
    --bb-github:#181717;
    --bb-instagram:#e4405f;
    --bb-pinterest:#bd081c;
    --bb-vk:#6383a8;
    --bb-rss:orange;
    --bb-flickr:#0063dc;
    --bb-bitbucket:#0052cc;
    --bb-tabler:#0054a6;
    --bb-primary-rgb:32, 107, 196;
    --bb-secondary-rgb:108, 122, 145;
    --bb-success-rgb:47, 179, 68;
    --bb-info-rgb:66, 153, 225;
    --bb-warning-rgb:247, 103, 7;
    --bb-danger-rgb:214, 57, 57;
    --bb-light-rgb:246, 248, 251;
    --bb-dark-rgb:24, 36, 51;
    --bb-muted-rgb:108, 122, 145;
    --bb-blue-rgb:32, 107, 196;
    --bb-azure-rgb:66, 153, 225;
    --bb-indigo-rgb:66, 99, 235;
    --bb-purple-rgb:174, 62, 201;
    --bb-pink-rgb:214, 51, 108;
    --bb-red-rgb:214, 57, 57;
    --bb-orange-rgb:247, 103, 7;
    --bb-yellow-rgb:245, 159, 0;
    --bb-lime-rgb:116, 184, 22;
    --bb-green-rgb:47, 179, 68;
    --bb-teal-rgb:12, 166, 120;
    --bb-cyan-rgb:23, 162, 184;
    --bb-x-rgb:0, 0, 0;
    --bb-facebook-rgb:24, 119, 242;
    --bb-twitter-rgb:29, 161, 242;
    --bb-linkedin-rgb:10, 102, 194;
    --bb-google-rgb:220, 78, 65;
    --bb-youtube-rgb:255, 0, 0;
    --bb-vimeo-rgb:26, 183, 234;
    --bb-dribbble-rgb:234, 76, 137;
    --bb-github-rgb:24, 23, 23;
    --bb-instagram-rgb:228, 64, 95;
    --bb-pinterest-rgb:189, 8, 28;
    --bb-vk-rgb:99, 131, 168;
    --bb-rss-rgb:255, 165, 0;
    --bb-flickr-rgb:0, 99, 220;
    --bb-bitbucket-rgb:0, 82, 204;
    --bb-tabler-rgb:0, 84, 166;
    --bb-primary-text-emphasis:#0d2b4e;
    --bb-secondary-text-emphasis:#2b313a;
    --bb-success-text-emphasis:#13481b;
    --bb-info-text-emphasis:#1a3d5a;
    --bb-warning-text-emphasis:#632903;
    --bb-danger-text-emphasis:#561717;
    --bb-light-text-emphasis:#3a4859;
    --bb-dark-text-emphasis:#3a4859;
    --bb-primary-bg-subtle:#d2e1f3;
    --bb-secondary-bg-subtle:#e2e4e9;
    --bb-success-bg-subtle:#d5f0da;
    --bb-info-bg-subtle:#d9ebf9;
    --bb-warning-bg-subtle:#fde1cd;
    --bb-danger-bg-subtle:#f7d7d7;
    --bb-light-bg-subtle:#f7f9fb;
    --bb-dark-bg-subtle:#8a97ab;
    --bb-primary-border-subtle:#a6c4e7;
    --bb-secondary-border-subtle:#c4cad3;
    --bb-success-border-subtle:#ace1b4;
    --bb-info-border-subtle:#b3d6f3;
    --bb-warning-border-subtle:#fcc29c;
    --bb-danger-border-subtle:#efb0b0;
    --bb-light-border-subtle:#dce1e7;
    --bb-dark-border-subtle:#6c7a91;
    --bb-white-rgb:255, 255, 255;
    --bb-black-rgb:0, 0, 0;
    --bb-font-sans-serif:-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --bb-font-monospace:Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --bb-gradient:linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
    --bb-body-font-family:var(--bb-font-sans-serif);
    --bb-body-font-size:0.875rem;
    --bb-body-font-weight:400;
    --bb-body-line-height:1.4285714286;
    --bb-body-color:#182433;
    --bb-body-color-rgb:24, 36, 51;
    --bb-body-bg:#f6f8fb;
    --bb-body-bg-rgb:246, 248, 251;
    --bb-emphasis-color:#3a4859;
    --bb-emphasis-color-rgb:58, 72, 89;
    --bb-secondary-color:rgba(24, 36, 51, 0.75);
    --bb-secondary-color-rgb:24, 36, 51;
    --bb-secondary-bg:#dce1e7;
    --bb-secondary-bg-rgb:220, 225, 231;
    --bb-tertiary-color:rgba(24, 36, 51, 0.5);
    --bb-tertiary-color-rgb:24, 36, 51;
    --bb-tertiary-bg:#eef3f6;
    --bb-tertiary-bg-rgb:238, 243, 246;
    --bb-heading-color:inherit;
    --bb-link-color:#206bc4;
    --bb-link-color-rgb:32, 107, 196;
    --bb-link-decoration:none;
    --bb-link-hover-color:#1a569d;
    --bb-link-hover-color-rgb:26, 86, 157;
    --bb-link-hover-decoration:underline;
    --bb-code-color:var(--bb-gray-600);
    --bb-highlight-color:#182433;
    --bb-highlight-bg:#fdeccc;
    --bb-border-width:1px;
    --bb-border-style:solid;
    --bb-border-color:#dce1e7;
    --bb-border-color-translucent:rgba(4, 32, 69, 0.1);
    --bb-border-radius:4px;
    --bb-border-radius-sm:2px;
    --bb-border-radius-lg:8px;
    --bb-border-radius-xl:1rem;
    --bb-border-radius-xxl:2rem;
    --bb-border-radius-2xl:var(--bb-border-radius-xxl);
    --bb-border-radius-pill:100rem;
    --bb-box-shadow:rgba(var(--bb-body-color-rgb), 0.04) 0 2px 4px 0;
    --bb-box-shadow-sm:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bb-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bb-box-shadow-inset:0 0 transparent;
    --bb-focus-ring-width:0.25rem;
    --bb-focus-ring-opacity:0.25;
    --bb-focus-ring-color:rgba(var(--bb-primary-rgb), 0.25);
    --bb-form-valid-color:#2fb344;
    --bb-form-valid-border-color:#2fb344;
    --bb-form-invalid-color:#d63939;
    --bb-form-invalid-border-color:#d63939;
  }
  
  [data-bs-theme=dark], body[data-bs-theme=dark] [data-bs-theme=light] {
    --bb-body-bg:#040a11;
    --bb-body-bg-rgb:4, 10, 17;
    --bb-secondary-color:rgba(220, 225, 231, 0.75);
    --bb-secondary-color-rgb:220, 225, 231;
    --bb-secondary-bg:#182433;
    --bb-secondary-bg-rgb:24, 36, 51;
    --bb-tertiary-color:rgba(220, 225, 231, 0.5);
    --bb-tertiary-color-rgb:220, 225, 231;
    --bb-tertiary-bg:#0e1722;
    --bb-tertiary-bg-rgb:14, 23, 34;
    --bb-primary-text-emphasis:#79a6dc;
    --bb-secondary-text-emphasis:#a7afbd;
    --bb-success-text-emphasis:#82d18f;
    --bb-info-text-emphasis:#8ec2ed;
    --bb-warning-text-emphasis:#faa46a;
    --bb-danger-text-emphasis:#e68888;
    --bb-light-text-emphasis:#eef3f6;
    --bb-dark-text-emphasis:#b8c4d4;
    --bb-primary-bg-subtle:#061527;
    --bb-secondary-bg-subtle:#16181d;
    --bb-success-bg-subtle:#09240e;
    --bb-info-bg-subtle:#0d1f2d;
    --bb-warning-bg-subtle:#311501;
    --bb-danger-bg-subtle:#2b0b0b;
    --bb-light-bg-subtle:#182433;
    --bb-dark-bg-subtle:#0c121a;
    --bb-primary-border-subtle:#134076;
    --bb-secondary-border-subtle:#414957;
    --bb-success-border-subtle:#1c6b29;
    --bb-info-border-subtle:#285c87;
    --bb-warning-border-subtle:#943e04;
    --bb-danger-border-subtle:#802222;
    --bb-light-border-subtle:#3a4859;
    --bb-dark-border-subtle:#182433;
    --bb-heading-color:inherit;
    --bb-link-color:#79a6dc;
    --bb-link-hover-color:#94b8e3;
    --bb-link-color-rgb:121, 166, 220;
    --bb-link-hover-color-rgb:148, 184, 227;
    --bb-code-color:var(--bb-gray-300);
    --bb-highlight-color:#dce1e7;
    --bb-highlight-bg:#624000;
    --bb-border-color:#25384f;
    --bb-border-color-translucent:rgba(72, 110, 149, 0.14);
    --bb-form-valid-color:#82d18f;
    --bb-form-valid-border-color:#82d18f;
    --bb-form-invalid-color:#e68888;
    --bb-form-invalid-border-color:#e68888;
    color-scheme: dark;
  }
  
 

  @import "forms";
  @import "scrollbar";
  @import "cards";
  @import "buttons";
  @import "dropdown";
  @import "col";
  @import "roles";
  @import "tabler";